<%- include('../partials/header') %>

<h1><%= item.name %></h1>
<img src="<%= item.image %>" alt="<%= item.name %>">
<p><%= item.description %></p>
<p><strong>Category:</strong> <%= item.category %></p>
<a href="/items" class="btn">Back to All Drinks</a>

